.sliderWrapper{
    max-height: 486px;
    max-width: 100%;

    margin-top: 30px;
}

.sliderContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    > .slider{
        width: 100%;
        height: 100%;


        display: flex;
        gap: 15px;
        align-items: center;

        transition: transform 0.3s ease-in-out;
    }
}
  
.freelancerCard {
    flex: 0 0 390px;

    transition: margin-right 0.3s ease-in-out;
}

.freelancerCard.hidden {
    margin-right: 0;
}

.freelancerCard.visible {
    margin-right: 15px;
}
.hidden {
    opacity: 0;
    pointer-events: none;
}
  
.visible {
    opacity: 1;
    pointer-events: auto;
}
.icon{
    display: flex;
    justify-content: center;
    align-self: center;
    transition: opacity 0.3s ease;
    position: absolute;
}
.selected_freelancer{
    border-color: #8b23e0 !important;
    opacity: 1 !important;
}

.freelancerCard{
    height: 100%;
    width: 336px;

    padding: 28px 24px 32px 24px;
    box-sizing: border-box;

    border: 2px solid #EAEAEA;
    border-radius: 14px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > .freelancerInfo{
        width: 100%;

        display: flex;
        align-items: center;
        gap: 20px;

        >div > .freelancerName{
            display: flex;
            align-items: center;
            gap: 8px;

            >h2, >h3{
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%; /* 19.8px */
                letter-spacing: 0;
            }

            >h3{
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;

                opacity: 0.6;

                background-image: url('../../assets/icons/star.svg');
                background-repeat: no-repeat;
                background-size: auto;
                background-position: left;

                padding-left: 18px;
                box-sizing: border-box;
            }
        }

        > div > h3{
            margin-top: 4px;
            opacity: 0.6;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 110%; /* 19.8px */
            letter-spacing: 0.5px;
        }
    }

    > p{
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;

        text-align: left;

        opacity: 0.7;
        letter-spacing: 0.5px;
        margin-top: 10px;
    }


    > .slideLine{
        width: 100%;
        height: 1px;

        background-color: #EAEAEA;

        margin-top: 18px;
    }

    > .freelancerStats{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        margin-top: 18px;

        >h2{
            font-size: 18px;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: 0.5px;
        }

        >h3{
            font-size: 14px;
            font-weight: 300;
            line-height: 16px;
            letter-spacing: 0.5px;
            opacity: 0.5;
        }
    }

    > .freelancerSkills{
        width: 100%;
        height: fit-content;

        margin-top: 20px;

        display: flex;
        align-items: center;
        gap: 7px;
        flex-wrap: wrap;

        > div{
            padding: 8px 24px;
            box-sizing: border-box;

            color: #00000099;

            font-size: 16px;
            font-weight: 400;
            line-height: 16px;

            background-color: #EAEAEA;
            border-radius: 8px;
        }
    }

    > .onlineConsultation{
        margin-top: 20px;

        width: 190px;
        height: 32px;

        opacity: 1;
        
        border: 1px solid #8085E6;
        border-radius: 8px;

        background-color: transparent;
        
        > p{
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0.5px;
            line-height: 16px;
            background: linear-gradient(180deg, #543BA7 0%, #7F78E9 100%);
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent; 

            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    > .slideActions{
        margin-top: 20px;

        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        > .toProfile{
            width: calc(100% - 65px);
            margin-right: 15px;
            height: 48px;
            
            border-radius: 10px;
    
            background-color: #000;

            border: 1px solid transparent;

            transition: 200ms;
            &:hover{
                background-color: #000000d7;
            }
            > a{
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.5px;
                line-height: 16px;
                color: #fff;
    
                width: 100%;
                height: 100%;
    
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
         
        > div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border: 1px solid black;
            border-radius: 12px;
            cursor: pointer;
            transition: 150ms;
            opacity: 0.6;

            &:hover{
                opacity: 1;
            }
        }
    }
}

.sliderBtns{
    margin-top: 15px;

    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .prevSlide, .nextSlide{
        background-color: transparent;
    }


    .prevSlide{
        transform: rotate(180deg);
    }
}