.invitedFreelancers{
    width: 100%;
    height: fit-content;

    margin-top: 128px;

    padding: 0 120px 120px 120px;
    box-sizing: border-box;
}

.activeOffers{
    width: 100%;
    height: fit-content;

    border: 1px solid #EAEAEA;
    border-radius: 12px;

    padding: 30px 25px;
    box-sizing: border-box;

    >h2{
        font-weight: 400;
        font-size: 42px;
        letter-spacing: -1.26px;
        line-height: 42px;
    }

    >h3{
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.5px;

        margin-top: 30px;

        color: #000;

        opacity: 1;

        >span{
            letter-spacing: 0.5px;
            color: #00000080;
        }
    }

    >p{
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.5px;

        opacity: .5;
        margin-top: 5px;
    }

    .offersList{
        margin-top: 20px;

        width: 100%;
        height: fit-content;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        >li{
            width: 100%;
            height: fit-content;

            background-color: #EAEAEA40;
            border: 1px solid #EAEAEA;
            border-radius: 12px;

            padding: 20px 25px;
            box-sizing: border-box;

            >h2{
                font-weight: 400;
                font-size: 18px;
                letter-spacing: 0.5px;
                line-height: 20px;
            }
        
            >h3{
                font-weight: 300;
                letter-spacing: 0.5px;
                font-size: 14px;
                line-height: 20px;
        
                margin-top: 5px;        
                opacity: .6;
            }
        
            >p{
                width: 70%;

                font-weight: 300;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: 0.5px;
                margin-top: 10px;

                color: #000;
                opacity: 0.7;
            }

            .offerInfo{
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: space-between;

                margin-top: 20px;

                > a {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .freelancerInfo{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-between;

                        >h2{
                            font-weight: 400;
                            font-size: 14px;
                            opacity: 0.95;
                            letter-spacing: 0.5px;
                            line-height: 14px;

                            >span{
                                opacity: .5;

                                padding-left: 18px;
                                box-sizing: border-box;

                                background-image: url('../../assets/icons/star.svg');
                                background-position: left;
                                background-size: auto;
                                background-repeat: no-repeat;
                            }
                        }

                        >h3{
                            font-weight: 300;
                            font-size: 14px;
                            letter-spacing: 0.5px;
                            line-height: 20px;

                            opacity: .6;
                        }
                    }
                }

                >a:first-child{
                    transition: 200ms;
                    transition-delay: 200ms;
                    &:hover{
                        transform: translateX(1px);
                    }
                }

                >a:last-child{
                    padding: 5px 15px 5px 43px;
                    box-sizing: border-box;

                    border: 1px solid #000;
                    border-radius: 10px;

                    font-weight: 400;
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    line-height: 20px;

                    background-image: url('../../assets/icons/chat.svg');
                    background-position: 10%;
                    background-size: 18px;
                    background-repeat: no-repeat;

                    opacity: .7;
                    transition: 200ms;
                }

                >a:hover{
                    opacity: 1;
                }
            }
        }
    }
}

.historyOfOffers{
    width: 100%;
    height: fit-content;

    border: 1px solid #EAEAEA;
    border-radius: 12px;

    padding: 30px 25px;
    box-sizing: border-box;

    position: relative;

    margin-top: 15px;

    .hideBtn{
        height: 24px;

        background-color: transparent;

        position: absolute;
        top: 41.5px;
        right: 25px;

        transition: 200ms;

        > img {
            transition: 200ms;
        }
    }

    >h3{
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 0.5px;
        line-height: 26px;

        color: #000;

        opacity: 1;

        >span{
            color: #00000080;
            letter-spacing: 0.5px;
        }
    }

    >p{
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 16px;

        opacity: .5;
        margin-top: 5px;
    }

    .offersHistoryList{
        margin-top: 20px;

        width: 100%;
        height: fit-content;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        >li{
            width: 100%;
            height: fit-content;

            background-color: #EAEAEA40;
            border: 1px solid #EAEAEA;
            border-radius: 12px;

            padding: 20px 25px;
            box-sizing: border-box;

            display: flex;
            align-items: center;
            justify-content: space-between;

            opacity: .7;
            transition: 200ms;
            > a {
                opacity: 0.7;
                transition: 200ms;
                &:hover{
                    opacity: 1;
                }
            }
            &:hover{
                opacity: 1;
            }
            >div{

                >h2{
                    font-weight: 400;
                    font-size: 18px;
                    letter-spacing: 0.5px;
                    line-height: 20px;
                    
                }
            
                >h3{
                    font-weight: 300;
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    line-height: 20px;
            
                    margin-top: 5px;        
                    opacity: .6;
                }
            
                >h4{
                    font-weight: 400;
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    line-height: 16px;
            
                    margin-top: 10px;
    
                    color: #F63939;
                }
            }
        }
    }
}

.empty{
    width: 100%;
    height: calc(100vh - 128px);

    margin-top: 128px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    >h1{
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;

        opacity: .8;
    }
}