.createProfile{
    width: 100%;
    height: fit-content;
    min-height: 100vh;

    padding: 37px 120px 60px 120px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.createProfileContainer{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    >h2{
        font-weight: 400;
        font-size: 42px;
        line-height: 42px;
        letter-spacing: -1.26px;

        margin-top: 100px;
    }

    >p{
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;

        opacity: 0.7;
        margin-top: 15px;
    }
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: fit-content;
    width: 100%;

    padding: 25px;
    box-sizing: border-box;

    border: 1px solid #0000001A;
    border-radius: 12px;

    margin-top: 30px;

    .detailsContent{
        display: flex;
        align-items: center;
        gap: 25px;

        >img{
            border-radius: 12px;
        }

        >div{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            >h2{
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 26.4px */
                letter-spacing: 0;
            }

            >h3{
                padding-left: 30px;
                box-sizing: border-box;

                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: 110%; /* 19.8px */

                background-image: url('../../../assets/icons/location.svg');
                background-position: left;
                background-size: 20px 20px;
                background-repeat: no-repeat;
            }
        }
    }

    >button{
        background-color: transparent;
        opacity: 0.7;

        transition: 200ms;
        &:hover{
            opacity: 1;
        }
    }
}

.description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    height: fit-content;
    width: 100%;

    padding: 30px;
    box-sizing: border-box;

    border: 1px solid #0000001A;
    border-radius: 12px;

    margin-top: 15px;

    >div{
        width: 100%;
        height: fit-content;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        >p{
            font-weight: 300;
            font-size: 18px;
            letter-spacing: 0.5px;
            line-height: 20px;

            opacity: 0.7;
        }

        .speciality{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            >li{
                font-weight: 400;
                font-size: 18px;
                line-height: 20px;

                opacity: 0.8;
            }
        }

        .skills{
            display: flex;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;

            >li{
                background-color: #EAEAEA;
                color: #00000099;

                padding: 5px 16px;
                box-sizing: border-box;

                border-radius: 8px;
            }
        }
    }
}

.experience, .education{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    height: fit-content;
    width: 100%;

    padding: 30px;
    box-sizing: border-box;

    border: 1px solid #0000001A;
    border-radius: 16px;

    margin-top: 15px;

    .experiencesList{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        >li{
            width: 100%;

            display: flex;
            align-items: center;
            gap: 15px;

            >div{
                height: 100%;

                >h2{
                    font-weight: 500;
                    font-size: 20px;
                    letter-spacing: 0;
                    line-height: 26.4px;
                }

                >h3{
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.5px;

                    opacity: 0.7;

                    margin-top: 3px;
                }

                >p{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 20px;
                    letter-spacing: 0.5px;

                    opacity: 0.7;
                    margin-top: 10px;
                }
            }
        }
    }
}

.title{
    display: flex;
    align-items: center;
    gap: 15px;

    >h2{
        font-weight: 400;
        font-size: 28px;
        letter-spacing: 0;
        line-height: 31px;
    }

    >button{
        height: 24px;
        background-color: transparent;

        opacity: 0.7;
        transition: 200ms;

        &:hover{
            opacity: 1;
        }
    }
}

.btns{
    margin-top: 76px;

    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    >button{
        width: 150px;
        padding: 9px 30px;
        box-sizing: border-box;

        border-radius: 10px;

        border: 1px solid #000;

        font-size: 16px;
        font-weight: 300;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.5px;
    }

    >:first-child{
        background-color: transparent;
        color: #000;
        opacity: 0.7;

        transition: 200ms;
        &:hover{
            opacity: 1;
        }
    }

    >:last-child{
        background-color: #000;
        color: #fff;
        opacity: 1;
        transition: 200ms;
        &:hover{
            opacity: 0.9 !important;
        }
    }
    >h2{
        font-size: 14px;
        font-weight: 300;
        line-height: 19.6px;
        text-align: center;
        letter-spacing: 0.5px;

        opacity: 0.5;
    }

    >:last-child{
        color: #fff;
        background-color: #000;
    }
}

.optionalText{
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 20px;

    color: #000;
    opacity: 0.7;
}