.container {
    padding: 20px 0px;
  }
  
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px
  
  }

  .cart{
    box-sizing: border-box;
    width: 895px;
    /* height: 255px; */
    padding: 20px 25px 20px 25px;
    border-radius: 12px;
    background-color: #FFFFFF;
    /* margin-bottom: 10px; */
    border: 1px solid #EAEAEA;
    >.user_desc{
      font-style: normal;
      line-height: 140% !important; /* 19.6px */
      color: #000000 !important;
      opacity: 0.7;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* количество строк */
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
}

.user{
    width: 845px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.userInfo{
  display: flex;
}
.freelancer{
    width: 58px;
    height: 58px;
    margin-right: 20px;
}
.zipper{
    width: 14px;
    height: 14px;
    margin-left: 12px;
}

.userInfo p:nth-child(1){
    font-size: 14px;
    color: gray;
    display: flex;
    align-items: center;
}
.userInfo p:nth-child(2){
    font-size: 18px;
}
.userInfo p:nth-child(3){
    font-size: 14px;
    color: gray;
}
.favorite{
  display: flex;
}
.favorite > div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
  margin-right: 15px;
  transition: 150ms;
  opacity: 0.6;

  &:hover{
    opacity: 1;
  }
}
.hidden {
  opacity: 0;
  pointer-events: none;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}
.favorite > img {
  background-color: #fff;
}
.icon{
  display: flex;
  justify-content: center;
  align-self: center;
  transition: opacity 0.3s ease;
  position: absolute;
}
.selected_freelancer{
  border-color: #8b23e0 !important;
  opacity: 1 !important;
}

.favorite button{
  width: 168px;
  height: 48px;
  border-radius: 10px;  
  background-color:#000000;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  /* box-sizing: border-box; */

  transition: 100ms;
  &:hover{
    background-color: transparent;
    border: 1px solid black;
    color: black;

  }
}
.raiting{
    width: 595px;
    display: flex;
    gap: 20px;
    /* align-items: center; */
    margin-top: 15px;

    font-size: 14px;
    font-weight: 300 !important;
    opacity: 0.7;
}
.raiting p{
    display: flex;
    align-items: center;
}
.raiting div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.buttons1{
  margin-top: 12px;
  display: flex;
  gap: 8px;
}
.buttons1 button{
  width: fit-content;
  height: 32px;
  border-radius: 8px;
  padding: 8px 22px;
  background-color: #EAEAEA;
  color: #00000099;
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  cursor: default;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
  
.pageButton {
  padding: 8px 12px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pageButton:hover {
  background-color: #e0e0e0;
}

.activePage {
  background-color: #000000;
  color: #fff;
  border-color: #000000;
}
.payment{
  gap: 22px;
  display: flex;
  margin-top: 10px;
}
.payment div{
  display: flex;
  gap: 4px;
  align-items: center;
}
.user_rating p, .user_rating a {
  color: #000000 !important;
  opacity: 0.7;

  font-family: "SF Pro Display";
  font-size: 14px !important;
  font-style: normal;
  line-height: 140%; /* 19.6px */

  font-weight: 300 !important;
}
.user_rating a {
  cursor: pointer;
  transition: 100ms;
}
.user_rating a:hover {
  opacity: 0.8;
}
.title{
  font-family: "SF Pro Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 110%; /* 19.8px */
}
.user_info{
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.user_rating{
  display: flex;
  gap: 8px;
  >div{
    display: flex;
    align-items: center;
    gap: 2px;
    >img{
      width: 14px;

      opacity: 0.7;
    }
  }
}